.main_padding{
    padding:30px 0
}
.main_span{
    letter-spacing: 10px;
    color:#ccc;
}
.main_head{
    font-weight: bold;
    color: #333;
    margin: 10px auto;
    margin-bottom: 80px;
}
.grayColor{
    color: $grayColor;
}
.redColor{
    color: $mainRead;
}
.whiteColor{
    color: $whiteColor;
}
.main_distro{

    span.media_icon{
        svg{
            border: 2px solid red;
            border-radius: 50%;
            padding: 9px;
            display: block;
            width: 63px;
            height: 63px;
        }
    }
    .media_body{
        display: inline-block;
        // margin-bottom: 51px;
        p{
            font-size: 18px;
            line-height: 26px;
        }
    }
}
.mr_auto{
    margin:10px auto
}
.main_layout{
    position: absolute;
    left:0;
    top:0;
    background-color: $layout_color;
    width:100%;
    height:100%;

}.res_padding{
    padding:0
}
%main_transition{
    transition: all .4s ease-in-out;
}.typed-cursor{
    
}
::-webkit-scrollbar {
    width: 5px; 
}
  
::-webkit-scrollbar-thumb {
    background-color: #26264b; 
}
  