/* 
    **********************************************
    ** create : By Ahmed Ali Klay 
    ** Phone  : 01126 35 0859 => not work
    ** Email  : aa9141179@gmail.com
    ** second Email : ahmed.ali.klay.dev@gmail.com
    **********************************************
    created with => html / sass/ jQuery / Bootstrap
    **********************************************
*/
* {
  box-sizing: border-box;
}

.img_slideshow .back_color {
  position: absolute;
  background-color: #1a0a3887;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-clip-path: polygon(0 0, 155% 155%, 100% 0);
  clip-path: polygon(0 0, 155% 155%, 100% 0);
  background-color: rgba(240, 0, 255, 0.1);
}
.img_slideshow .bg-light {
  background-color: #1a0a3887 !important;
}
.img_slideshow .bg-light .navbar-nav .nav-link {
  color: #ccc;
}
.img_slideshow .top_header .navbar-nav {
  padding: 20px 14px;
}
.img_slideshow .top_header .navbar-nav li a.nav-link {
  font-size: 16px;
}
.img_slideshow .top_header .navbar-nav svg {
  color: red;
}
.img_slideshow .top_header .navbar-nav .btn_discharger:hover {
  background-color: red;
}
.img_slideshow .top_header .navbar-nav .btn_discharger:hover svg {
  color: white;
}
.img_slideshow .main_nav_bar .navbar-nav .nav-link {
  padding: 8px 17px;
}
.img_slideshow .main_nav_bar .navbar-nav .nav-link:hover {
  color: red;
}

.img_slideshow {
  background-image: url(../images/hero-bg.jpg);
  background-size: cover;
}
.img_slideshow .slide_show .carousel-control-next-icon,
.img_slideshow .slide_show .carousel-control-prev-icon {
  background-image: none;
}
.img_slideshow .slide_show span {
  color: #ccc;
  font-size: 34px;
  position: relative;
}
.img_slideshow .slide_show .carousel-control-next-icon {
  left: -65%;
}
.img_slideshow .slide_show .carousel-control-prev-icon {
  left: 47%;
}
.img_slideshow .slide_show .carousel-inner {
  height: 790px;
}
.img_slideshow .slide_show .carousel-inner .carousel-caption {
  bottom: -530px;
  align-items: center;
  text-align: left;
  left: 20%;
}
.img_slideshow .slide_show .carousel-inner .carousel-caption .head {
  text-align: left;
}
.img_slideshow .slide_show .carousel-inner .carousel-caption .head h2 {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 3px 4px 1px #1a0a3887;
}
@media (max-width: 1096px) {
  .img_slideshow .slide_show .carousel-inner .carousel-caption .head h2 {
    font-size: 40px;
  }
}
@media (max-width: 719px) {
  .img_slideshow .slide_show .carousel-inner .carousel-caption .head h2 {
    font-size: 30px;
  }
}
@media (max-width: 752px) {
  .img_slideshow .slide_show .carousel-inner .carousel-caption .head h2 {
    text-align: center;
  }
}
.img_slideshow .slide_show .carousel-inner .carousel-caption .content {
  background-color: #ffffff82;
  border-radius: 5px 118px 0 5px;
  color: #1a0a3887;
  padding: 24px 4px;
  padding-right: 57px;
  font-size: 22px;
  max-width: 75%;
  margin-top: 27px;
  line-height: 28px;
  min-height: 76px;
}
@media (max-width: 1096px) {
  .img_slideshow .slide_show .carousel-inner .carousel-caption .content {
    font-size: 19px;
    line-height: 20px;
    max-width: 95%;
  }
}
@media (max-width: 752px) {
  .img_slideshow .slide_show .carousel-inner .carousel-caption .content {
    text-align: center;
    border-radius: 0;
  }
}
.img_slideshow .slide_show .carousel-inner .carousel-caption a.main_btn {
  background-color: #dc0f0fc4;
}

.abstract {
  margin-bottom: 50px;
}
.abstract .content {
  background-color: #ee1515;
  border-radius: 0 152px;
  padding: 23px 59px;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}
@media (max-width: 752px) {
  .abstract .content {
    text-align: center;
  }
}
.abstract .content .row {
  z-index: 1;
  color: whitesmoke;
}
.abstract .content .row h2 {
  font-size: 27px;
}
.abstract .content .row p {
  font-size: 17px;
}
.abstract .content .row a.main_btn {
  width: 100%;
  background-color: #ce0000;
  font-weight: bold;
  color: white;
}
@media (max-width: 752px) {
  .abstract .content .row a.main_btn {
    width: 90%;
  }
}
.abstract .content:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 116%;
  /* z-index: -1; */
  background-color: rgba(24, 9, 53, 0.77);
  background-color: #1a0a3887;
  border-bottom: 18px solid #ce0000;
  border-radius: 0 0 0 178px;
}
@media (max-width: 752px) {
  .abstract .content:after {
    border-radius: 0;
  }
}

.s_chose_us .main_span {
  color: #333;
  font-weight: bold;
}
.s_chose_us .main_distro span.media_icon {
  height: 28px;
  width: 20%;
  font-size: 27px;
  color: red;
}
.s_chose_us .main_distro .media_body {
  display: inline-block;
  margin-bottom: 51px;
}
.s_chose_us .main_distro .media_body h4 {
  padding-bottom: 11px;
  font-size: 23px;
  border-bottom: 2px solid #dee2e6 !important;
}

.about_template {
  background-color: #fafafa;
  padding: 50px 0;
}
.about_template .main_span {
  color: red;
  font-weight: bold;
  letter-spacing: 6px;
}
.about_template h2 {
  line-height: 50px;
  margin-top: 20px;
  font-size: 42px;
}
.about_template p {
  color: #a9a9a9;
  margin-top: 37px;
  font-size: 18px;
}
.about_template .main_btn {
  color: white;
  margin-top: 0;
  font-size: 18px;
}
.about_template .main_distro {
  display: inline-block;
  width: 49%;
  margin-top: 5px;
}
.about_template .main_distro span.media_icon {
  height: 28px;
  width: 20%;
  top: -28px;
  font-size: 27px;
  color: red;
}
.about_template .main_distro span.media_icon svg {
  border: none;
  border-radius: 50%;
  padding: 9px;
  display: block;
  width: 49px;
  height: 44px;
}
.about_template .main_distro .media_body {
  display: inline-block;
  width: 78%;
  margin-bottom: 13px;
}
.about_template .main_distro .media_body p {
  font-size: 14px;
  margin-top: 5px;
}
.about_template .main_distro .media_body h4 {
  font-size: 17px;
  font-weight: bold;
}
.about_template .feature_img {
  position: relative;
  width: 100%;
}
@media (max-width: 1235px) {
  .about_template .feature_img {
    display: none;
  }
}
.about_template .feature_img img {
  position: absolute;
}
.about_template .feature_img img.main_back {
  right: 0;
  top: 0;
}
.about_template .feature_img img.sup_back {
  top: 279px;
  border-top: 20px solid white;
  border-right: 20px solid white;
}
@media (max-width: 1235px) {
  .about_template .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.gallery_posts {
  padding: 80px 0;
}
@media (max-width: 1235px) {
  .gallery_posts .main_distro {
    margin: 54px auto;
  }
}
.gallery_posts .main_distro .media_body {
  padding: 8px;
  line-height: 38px;
}
@media (max-width: 986px) {
  .gallery_posts .main_distro .media_body {
    text-align: center !important;
    width: 100%;
    padding: 0;
  }
  .gallery_posts .main_distro .media_body p {
    margin-bottom: 0;
  }
}
.gallery_posts .main_distro .media_body span.date {
  color: #a9a9a9;
}
.gallery_posts .main_distro .media_body h4 {
  font-size: 22px;
}
.gallery_posts .main_distro .distro_img {
  display: inline-block;
}
.gallery_posts .main_distro .distro_img img {
  width: 250px;
  height: 167px;
}
@media (max-width: 986px) {
  .gallery_posts .main_distro .distro_img img {
    display: none;
  }
}
@media (max-width: 1235px) {
  .gallery_posts .main_distro .distro_img img {
    margin: 54px auto;
  }
}
.gallery_posts .main_btn {
  margin: 20px auto;
  color: white;
}

.trust {
  background-color: #26264b;
  color: white;
  padding: 80px 0;
}
@media (max-width: 1235px) {
  .trust {
    margin: 54px auto;
  }
}
@media (max-width: 1235px) {
  .trust .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.trust .main_span {
  color: #ce0000;
  font-weight: bold;
  letter-spacing: 6px;
}
.trust h2 {
  line-height: 50px;
  margin-top: 20px;
  font-size: 42px;
}
.trust p {
  color: #a9a9a9;
  margin-top: 37px;
  margin-bottom: 37px;
  font-size: 16px;
}
.trust .main_btn {
  color: white;
  background-color: #df0d0d;
  margin-top: 0;
}
.trust .main_distro {
  display: inline-block;
  width: 49%;
  margin-top: 10px;
}
.trust .main_distro span.media_icon {
  height: 28px;
  width: 20%;
  top: -28px;
  font-size: 27px;
  color: red;
}
.trust .main_distro span.media_icon svg {
  border: none;
  border-radius: 50%;
  padding: 9px;
  display: block;
  width: 49px;
  height: 44px;
}
.trust .main_distro .media_body {
  display: inline-block;
  width: 78%;
  margin-bottom: 10px;
}
.trust .main_distro .media_body p {
  font-size: 16px;
  margin-top: 5px;
}
.trust .main_distro .media_body h4 {
  font-size: 17px;
  font-weight: bold;
}
.trust .feature_img {
  position: relative;
  width: 100%;
}
.trust .feature_img .main_img {
  background-image: url(../images/gallery1.jpg);
  background-size: cover;
  height: 462px;
  float: left;
  width: 45%;
}
.trust .feature_img .distros {
  float: right;
  width: 55%;
}
.trust .feature_img .distros .sub_img_top {
  background-image: url(../images/gallery2.jpg);
  background-size: cover;
  height: 231px;
  width: 100%;
}
.trust .feature_img .distros .sub_img_bottom {
  background-image: url(../images/gallery3.jpg);
  background-size: cover;
  height: 231px;
  width: 100%;
}

.pricing_table {
  padding: 80px 0;
}
@media (max-width: 1235px) {
  .pricing_table .col-md-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (max-width: 799px) {
  .pricing_table .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.pricing_table .main_span {
  color: #333;
  font-weight: bold;
}
.pricing_table .media_body {
  width: 100%;
  padding: 40px 0;
  color: #edecec;
  background-color: #26264b;
  margin-bottom: 20px;
}
.pricing_table .media_body:hover {
  background-color: #282861;
}
.pricing_table .media_body h3 {
  margin-bottom: 0;
}
.pricing_table .media_body p {
  padding-bottom: 29px;
  border-color: #727374 !important;
}
.pricing_table .media_body li {
  line-height: 37px;
  font-size: 15px;
}

.testimonial_and_clients {
  position: relative;
  background-image: url(../../assets/images/testimonal.jpg);
  min-height: 350px;
  background-size: cover;
  padding-top: 80px;
}
.testimonial_and_clients .slideshow {
  border-bottom: 2px solid #adadad !important;
  z-index: 9;
  position: relative;
}
.testimonial_and_clients .slideshow .carousel {
  height: 351px;
}
.testimonial_and_clients .slideshow .carousel-item {
  height: 288px;
}
.testimonial_and_clients .slideshow .carousel-item img {
  width: 80px;
  height: 80px;
  margin: 5px auto;
  margin-top: 0;
  border-radius: 50%;
}
.testimonial_and_clients .slideshow .carousel-item .carousel-caption {
  bottom: 5px;
}
.testimonial_and_clients .slideshow .carousel-item .carousel-caption h5 {
  margin-bottom: 0;
}
.testimonial_and_clients .slideshow .carousel-item .carousel-caption span {
  color: #9b9999ed;
  margin-bottom: 20px;
  display: block;
}
@media (max-width: 1325px) {
  .testimonial_and_clients .slideshow .carousel-item .carousel-caption span {
    display: none;
  }
}
.testimonial_and_clients .slideshow .carousel-item .carousel-caption p {
  margin-bottom: 30px;
  font-size: 16px;
  color: #d6d4d4;
}
.testimonial_and_clients .client_slider {
  z-index: 10;
  position: relative;
  text-align: center;
  padding-bottom: 23px;
}
.testimonial_and_clients .client_slider img {
  margin: 49px 46px;
}
@media (max-width: 1497px) {
  .testimonial_and_clients .client_slider img {
    margin: 41px 2px;
  }
  .testimonial_and_clients .client_slider img:last-child {
    display: none;
  }
}

.last_section__call_to {
  margin-bottom: -6px;
  margin-top: 100px;
}
.last_section__call_to .content .row {
  z-index: 4;
}
.last_section__call_to .content:after {
  z-index: 3;
  border-radius: 0 148px 0 178px;
}
@media (max-width: 1133px) {
  .last_section__call_to .content:after {
    border-radius: 0;
  }
}

.main_btn {
  background-color: #ce0000;
  color: #ccc;
  font-size: 18px;
  font-weight: bold;
  margin: 30px 0;
  padding: 10px 59px;
  border-radius: 25px 3px 25px 3px;
}
@media (max-width: 719px) {
  .main_btn {
    margin: 10px 5px;
    margin-top: 20px;
    padding: 10px 40px;
  }
}
.main_btn:hover {
  color: whitesmoke;
}

.btn_discharger {
  border: 1px solid #ce0000;
  border-radius: 5px;
  margin-left: 19px;
  padding: 7px;
}
.btn_discharger svg {
  margin-right: 0;
}
.btn_discharger:hover svg {
  color: white;
}

.main_padding {
  padding: 30px 0;
}

.main_span {
  letter-spacing: 10px;
  color: #ccc;
}

.main_head {
  font-weight: bold;
  color: #333;
  margin: 10px auto;
  margin-bottom: 80px;
}

.grayColor {
  color: #a9a9a9;
}

.redColor {
  color: #ce0000;
}

.whiteColor {
  color: white;
}

.main_distro span.media_icon svg {
  border: 2px solid red;
  border-radius: 50%;
  padding: 9px;
  display: block;
  width: 63px;
  height: 63px;
}
.main_distro .media_body {
  display: inline-block;
}
.main_distro .media_body p {
  font-size: 18px;
  line-height: 26px;
}

.mr_auto {
  margin: 10px auto;
}

.main_layout {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #26264bbd;
  width: 100%;
  height: 100%;
}

.res_padding {
  padding: 0;
}

.img_slideshow .top_header .navbar-nav .btn_discharger, .img_slideshow .main_nav_bar .navbar-nav .nav-link, .pricing_table .media_body {
  transition: all 0.4s ease-in-out;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #26264b;
}

.footer {
  background-image: url(../../assets/images/footer.jpg);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0;
  padding-bottom: 50px;
}
.footer .main_distro .media_body {
  margin-bottom: 2px;
}
.footer .main_distro .media_body h4 {
  font-size: 16px;
  font-weight: bold;
  color: #ffffffeb;
  margin-bottom: 0;
}
.footer .main_distro span svg {
  border: none;
  color: red;
}
.footer .FRESH_TWEETS .main_distro {
  margin-bottom: 32px;
  clear: both;
  height: 48px;
}
.footer .FRESH_TWEETS .main_distro .media_body {
  width: auto !important;
}
.footer .FRESH_TWEETS .main_distro .media_body p {
  font-size: 15px;
  margin-bottom: 0;
}
.footer .FRESH_TWEETS .main_distro .media_body h4 {
  font-size: 16px;
  font-weight: normal;
  color: #ffffffeb;
  margin-bottom: 20px;
}
.footer .FRESH_TWEETS .main_distro span.media_icon svg {
  border: none;
  width: 50px;
  height: 50px;
  margin-right: 6px;
  color: #8a8a8aa3;
  padding: 0;
}
.footer .latest_posts .main_distro {
  margin-bottom: 17px;
  clear: both;
}
.footer .latest_posts .main_distro .media_body {
  height: 84px;
  margin-bottom: 2px;
  width: auto !important;
}
.footer .latest_posts .main_distro .media_body p {
  font-size: 15px;
  margin-bottom: 0;
}
.footer .latest_posts .main_distro .media_body p svg:last-child {
  margin-left: 10px;
}
.footer .latest_posts .main_distro .media_body h4 {
  font-size: 16px;
  font-weight: normal;
  color: #ffffffeb;
  margin-bottom: 0;
}
.footer .latest_posts .main_distro img {
  width: 69px;
  height: 71px;
  border-radius: 5px;
  opacity: 0.9;
  margin-right: 5px;
}

.copy_right {
  background-color: #26264b;
  color: #d0cece;
}
.copy_right p {
  color: #ccc;
  padding: 15px 0;
  font-size: 19px;
  margin: 0;
}

/*# sourceMappingURL=homepage.css.map */
