// Start Slide SHow
.img_slideshow{
    background-image: url(../images/hero-bg.jpg);
    background-size: cover;
    .slide_show{
        .carousel-control-next-icon,
        .carousel-control-prev-icon {
            background-image: none;
        }
        span{
            color: #ccc;
            font-size: 34px;
            position: relative;
        }
        .carousel-control-next-icon{
            left: -65%;
        }.carousel-control-prev-icon{
            left: 47%;
        }
        .carousel-inner{
            height: 790px;
            .carousel-caption{
                bottom: -530px;
                align-items: center;
                text-align:left;
                left: 20%;
                .head{
                    text-align:left;
                    h2{
                        font-size: 60px;
                        font-weight: bold;
                        letter-spacing: 2px;
                        text-shadow: 3px 4px 1px $mainColor;
                        @media (max-width: 1096px){
                            font-size: 40px;
                        }
                        @media (max-width: 719px){
                            font-size: 30px;
                        }
                        @media (max-width: 752px){
                            text-align: center;
                        }
                    }
                }
                .content{
                    background-color: #ffffff82;
                    border-radius:5px 118px 0 5px;
                    color: $mainColor;
                    padding: 24px 4px;
                    padding-right: 57px;
                    font-size: 22px;
                    max-width: 75%;
                    margin-top: 27px;
                    line-height: 28px;
                    min-height: 76px;
                    @media (max-width: 1096px){
                        font-size: 19px;
                        line-height: 20px;
                        max-width: 95%;
                    }
                    @media (max-width: 752px){
                        text-align: center;
                        border-radius: 0 ;
                    }
                }
                a.main_btn{
                    background-color: #dc0f0fc4;
                }
            }
        }
    }
}
// Start abstract
.abstract{
    margin-bottom:50px;
    .content{
        background-color: #ee1515;
        border-radius: 0 152px;
        padding: 23px 59px;
        position: relative;
        justify-content: center;
        align-items: center;
        display: flex;
        @media (max-width: 752px){
            text-align: center;
        }
        .row{
            z-index:1;
            color:whitesmoke;
            h2{
                font-size: 27px;
            }
            p{
                font-size: 17px;
            }
            a.main_btn{
                width:100%;
                background-color:$mainRead;
                font-weight:bold;
                color:white;
                @media (max-width: 752px){
                    width: 90%;
                }
            }
        }
        &:after{
            content: '';
            position: absolute;
            width: 100%;
            height: 116%;
            /* z-index: -1; */
            background-color: rgba(24, 9, 53, 0.77);
            background-color: $mainColor;
            border-bottom: 18px solid $mainRead;
            border-radius: 0 0 0 178px;
            @media (max-width: 752px){
                border-radius: 0 ;
            }
        }
    }
}

// End abstract
// Start WHY CHOOSE US
.s_chose_us{
    .main_span{
        color:#333;
        font-weight:bold;
    }
    .main_distro{
        span.media_icon{
            height: 28px;
            width: 20%;
            font-size: 27px;
            color: red;
            svg{
                // border: 2px solid red;
                // border-radius: 50%;
                // padding: 9px;
                // width: 63px;
                // height: 63px;
            }
        }
        .media_body{
            display: inline-block;
            margin-bottom: 51px;
            p{
                // font-size: 19px;
                // line-height: 26px;
            }
            h4{
                padding-bottom: 11px;
                font-size: 23px;
                border-bottom: 2px solid #dee2e6!important;
            }
        }
    }
}
// End WHY CHOOSE US

// about_template

.about_template{
    background-color: #fafafa;
    padding:50px 0;
    .main_span{
        color:red;
        font-weight:bold;
        letter-spacing: 6px;
    }
    h2{
        line-height: 50px;
        margin-top: 20px;
        font-size: 42px;
    }
    p{
        color: $grayColor;
        margin-top:37px;
        font-size: 18px;
    }.main_btn{
        color:white;
        margin-top: 0;
        font-size: 18px;
    }
    .main_distro{
        display:inline-block;
        width:49%;
        margin-top: 5px;
        span.media_icon{
            height: 28px;
            width: 20%;
            top: -28px;
            font-size: 27px;
            color: red;
            svg{
                border: none;
                border-radius: 50%;
                padding: 9px;
                display: block;
                width: 49px;
                height: 44px;
            }
        }
        .media_body{
            display: inline-block;
            width: 78%;
            margin-bottom: 13px;
            p{
                font-size: 14px;
                margin-top:5px;
                // line-height: 26px;
            }
            h4{
                font-size: 17px;
                font-weight: bold;
            }
        }
    }
    .feature_img{
        position: relative;
        width:100%;
        @media (max-width: 1235px){
            display: none;
        }
        img{
        position:absolute;
            &.main_back{
                right: 0;
                top: 0;
            }
            &.sup_back{
                top: 279px;
                border-top: 20px solid white;
                border-right: 20px solid white;
            }
        }
    }
    @media (max-width: 1235px){
        .col-md-6{
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}
// Start gallery_posts
.gallery_posts{
    padding:80px 0;
    .main_distro{
        @media (max-width: 1235px){
            margin: 54px auto;
        }
        .media_body{
            padding: 8px;
            line-height: 38px;
            @media (max-width: 986px){
                &{
                    text-align:center!important;
                    width: 100%;
                    padding: 0;
                    p{
                        margin-bottom:0
                    }
                }
             }
            span.date{
                color: $grayColor;
            }
            h4{
                font-size:22px
            }
        }
        .distro_img{
            display:inline-block;
            img{
                width: 250px;
                height: 167px;
                @media (max-width: 986px){
                    &{
                        display:none
                    }
                 }
                @media (max-width: 1235px){
                    margin: 54px auto;
                }
            }
        }
    }
    .main_btn{
        margin:20px auto;
        color:white;
    }
}
// End gallery_posts
// Start Section trust
.trust{
    background-color: #26264b;
    color:white;
    padding:80px 0;
    @media (max-width: 1235px){
        margin: 54px auto;
    }
    @media (max-width: 1235px){
        .col-md-6{
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    .main_span{
        color:$mainRead;
        font-weight:bold;
        letter-spacing: 6px;
    }
    h2{
        line-height: 50px;
        margin-top: 20px;
        font-size: 42px;
    }
    p{
        color: $grayColor;
        margin-top:37px;
        margin-bottom:37px;
        font-size: 16px;
    }.main_btn{
        color:white;
        background-color:#df0d0d;
        margin-top: 0;
    }
    .main_distro{
        display:inline-block;
        width:49%;
        margin-top: 10px;
        span.media_icon{
            height: 28px;
            width: 20%;
            top: -28px;
            font-size: 27px;
            color: red;
            svg{
                border: none;
                border-radius: 50%;
                padding: 9px;
                display: block;
                width: 49px;
                height: 44px;
            }
        }
        .media_body{
            display: inline-block;
            width: 78%;
            margin-bottom: 10px;
            p{
                font-size: 16px;
                margin-top:5px;
                // line-height: 26px;
            }
            h4{
                font-size: 17px;
                font-weight: bold;
            }
        }
    }
    .feature_img{
        position: relative;
        width:100%;
        .main_img{
            background-image:url(../images/gallery1.jpg);
            background-size:cover;
            height:462px;
            float:left;
            width: 45%;
        }
        .distros{
            float:right;
            width: 55%;
           .sub_img_top{
            background-image:url(../images/gallery2.jpg);
            background-size:cover;
            height:231px;
            width: 100%;
            }
            .sub_img_bottom{
                background-image:url(../images/gallery3.jpg);
                background-size:cover;
                height:231px;
                width: 100%;
            } 
        }
        
    }
}
// End Section trust

// pricing_table
.pricing_table{
    padding:80px 0;
    @media (max-width: 1235px){
        .col-md-4{
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
    @media (max-width: 799px){
        .col-md-4{
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
   .main_span{
        color:#333;
        font-weight:bold;
    }
    .media_body{
        width:100%;
        padding: 40px 0;
        color: #edecec;
        @extend %main_transition;
        background-color:#26264b;
        margin-bottom: 20px;
        
        &:hover{
            background-color: #282861;
        }
        h3{
            margin-bottom:0;
        }
        p{
            padding-bottom: 29px;
            border-color:#727374!important
        }
        li{
            line-height: 37px;
            font-size: 15px;
        }
    }
}

// testimonial_and_clients
.testimonial_and_clients{
    position: relative;
    background-image:url(../../assets/images/testimonal.jpg);
    min-height: 350px;
    background-size: cover;
    padding-top:80px ;
    .slideshow{
        border-bottom: 2px solid #adadad !important;
        z-index: 9;
        position: relative;
        .carousel {
            height: 351px;
        }
        .carousel-item{
            height:288px;
            img{
                width: 80px;
                height: 80px;
                margin: 5px auto;
                margin-top: 0;
                border-radius: 50%;
            }  
            .carousel-caption{
                bottom: 5px;
                h5{
                    margin-bottom: 0;
                }
                span{
                    color: #9b9999ed;
                    margin-bottom: 20px;
                    display: block;
                    @media (max-width: 1325px){
                        &{
                            display: none;
                        }
                    }
                }
                p{
                    margin-bottom:30px;
                    font-size: 16px;
                    color: #d6d4d4;
                }
            } 
        }
    }
    .client_slider{
        z-index: 10;
        position: relative;
        text-align:center;
        padding-bottom: 23px;
        img{
            margin: 49px 46px;
            @media (max-width: 1497px){
                &{
                    margin: 41px 2px;
                    &:last-child{
                        display: none;
                    }
                }
            }
        }
    }
}
// Start last_section__call_to
.last_section__call_to{
    margin-bottom: -6px;
    margin-top: 100px;
    .content{
        
        .row{
            z-index: 4;
        }
        &:after{
            z-index: 3;
            border-radius: 0 148px 0 178px;
            @media (max-width: 1133px){
                &{
                    border-radius: 0;
                }
            }
        }
    }
}
// End last_section__call_to
