// Start footer
.footer{
    background-image: url(../../assets/images/footer.jpg);
    position: relative;
    background-size:cover;
    background-repeat:no-repeat;
    padding:80px 0;
    padding-bottom: 50px;
    .main_distro{
        .media_body {
            // width: 67%;
            margin-bottom: 2px;
            h4{
                font-size: 16px;
                font-weight: bold;
                color: #ffffffeb;
                margin-bottom: 0;
            }
        }
        span {
            svg {
                border: none;
                color: red;
            }
        }
    }
    .FRESH_TWEETS{
        .main_distro{
            margin-bottom: 32px;
            clear:both;
            height: 48px;
            .media_body {
                width:auto!important;
                p{
                    font-size: 15px; 
                    margin-bottom: 0;
                }
                h4{
                    font-size: 16px;
                    font-weight: normal;
                    color: #ffffffeb;
                    margin-bottom:20px;
                }
            }
            span.media_icon {
                svg {
                    border: none;
                    width: 50px;
                    height: 50px;
                    margin-right: 6px;
                    color: #8a8a8aa3;
                    padding: 0;
                }
            }
        }
    }
    .latest_posts{
        .main_distro{
            margin-bottom: 17px;
            clear:both;
            .media_body {
                height: 84px;
                margin-bottom: 2px;
                width: auto !important;
                p{
                    font-size: 15px;
                    margin-bottom:0;
                    svg{
                        &:last-child{
                            margin-left: 10px;
                        }
                    }
                }
                h4{
                    font-size: 16px;
                    font-weight: normal;
                    color: #ffffffeb;
                    margin-bottom: 0;
                }
            }
            img {
                width: 69px;
                height: 71px;
                border-radius: 5px;
                opacity: .9;
                margin-right:5px
            }
        }
    }
}
.copy_right{
    background-color: #26264b;
    color: #d0cece;
    p{
        color: #ccc;
        padding: 15px 0;
        font-size: 19px;
        margin: 0;
    }
}
// End  footer