.main_btn{
    background-color: $mainRead;
    color: #ccc;
    font-size: 18px;
    font-weight: bold;
    margin: 30px 0;
    padding: 10px 59px;
    border-radius: 25px 3px 25px 3px;
    @media (max-width: 719px){
        margin: 10px 5px;
        margin-top:20px;
        padding: 10px 40px;
    }
    &:hover{
        color:whitesmoke    
    }
}
.btn_discharger{
    border:1px solid $mainRead;
    border-radius: 5px;
    margin-left: 19px;
    padding: 7px;
    svg{
        margin-right:0
    }
    &:hover svg{
        color:white
        
        
    }
}