*{
    box-sizing:border-box
}
.img_slideshow{
    .back_color{
        position: absolute;
        background-color: #1a0a3887;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        -webkit-clip-path: polygon(0 0, 155% 155%, 100% 0);
        clip-path: polygon(0 0, 155% 155%, 100% 0);
        background-color: rgba(240, 0, 255, 0.1);
    }
    .bg-light{
        background-color: $mainColor !important;
        .navbar-nav .nav-link{
            color:#ccc;
        }
    }
    .top_header{
        .navbar-nav {
            padding: 20px 14px;
            li a.nav-link{
                font-size: 16px;
            }
            svg{
               color:red
            }

            .btn_discharger{
                @extend %main_transition;
                &:hover {
                    background-color:red;
                    svg{
                        color:white
                    }
                }
            }
        }
    }
    .main_nav_bar{
        .navbar-nav .nav-link{
            padding: 8px 17px;
            @extend %main_transition;
            &:hover{
                color:red
            }
        }
    }
}